<!DOCTYPE html>
<html ng-app="jrzhApp" ng-controller="jrzhCtrl">

	<head>
		<meta charset="utf-8">
		<title>订单详情</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../../../css/libs/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../../../css/fonts/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/style.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">订单详情</h1>
		</header>
		<div class="mui-content">
			<div class="order-form-info">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<label for="">服务项目</label>
					</li>
					<li class="mui-table-view-cell mui-media" ng-repeat="item in orderInfo.informationList">
						<a href="javascript:;">
							<img class="mui-media-object mui-pull-left" ng-src="item.imageUrl">
							<div class="mui-media-body">
								<span ng-bind="item.title"></span>
								<p class="mui-ellipsis" ng-bind="item.synopsis"></p>
							</div>
						</a>
					</li>
				</ul>

				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						订单编号
						<label class="mui-pull-right" ng-bind="item.orderNumber"></label>
					</li>
					<li class="mui-table-view-cell">
						下单时间
						<label class="mui-pull-right" ng-bind="item.updateTime | date:'yyyy-MM-dd'"></label>
					</li>
					<li class="mui-table-view-cell">
						支付方式
						<label class="mui-pull-right" ng-if="item.type == 0">{{typeStr}}</label>
						<label class="mui-pull-right" ng-if="item.type == 1">分期付款</label>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						商品总额
						<label class="mui-pull-right" for="">￥{{item.original}}</label>
					</li>
					<li class="mui-table-view-cell">
						商品优惠
						<label class="mui-pull-right" for="">￥{{item.amount}}</label>
					</li>
				</ul>
				<div class="order-form-bottom">
					<div class="mui-pull-right">
						共 1 件商品
						<span class="sf">实付款：</span>
						<span class="je">￥{{item.practicalMoney}}</span>
					</div>
				</div>
			</div>
		</div>
		<script src="../../../js/mui.min.js"></script>
		<script src="../../../js/angular.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/JRZH.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/appdata.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/app.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/mui.pullToRefresh.js"></script>
		<script src="../../../js/mui.pullToRefresh.material.js"></script>

		<script>
			mui.init();
			angular.module("jrzhApp", []).controller("jrzhCtrl", function($scope) {

				$scope.orderInfo = {};
				var state = app.getState();

				window.addEventListener("initLoad", function(event) {
					var memberRecordId = event.detail.memberRecordId;
					initLoad(memberRecordId);
				});

				function initLoad(memberRecordId) {
					//数据加载
					appData.record({
						userId: state.userId,
						memberRecordId: memberRecordId
					}, function(response) {
						var viewlist = response.object.viewList || [];
						$scope.orderInfo = viewlist[0];
						$scope.$apply(); //数据更新view
					}, function(err) {
						mui.toast(err.message);
					});
				}
			});
		</script>
	</body>

</html>