<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>专家详情</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../../../css/libs/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../../../css/style.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title">权威专家</h1>
		</header>
		<div class="mui-content expert-content" ng-app="jrzhApp" ng-controller="jrzhCtrl">
			<div class="expert-top">
				<div class="cont">
					<div class="t">
						<img src="../../../imgs/temp/exp/tx.jpg" />
					</div>
					<div class="b">
						<span class="tag" ng-repeat="item in expertinfo.labelIdArr" ng-bind="item"></span>
					</div>
				</div>
				<img class="bg" src="../../../imgs/temp/exp/tx.jpg" />
			</div>
			<div class="expert-info">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<strong ng-bind="expertinfo.name">134</strong>
					</li>
					<li class="mui-table-view-cell">
						职称：<span ng-bind="expertinfo.professionalStr"></span>
					</li>
					<li class="mui-table-view-cell">
						擅长项目：<span ng-bind="expertinfo.labelIdStr"></span>
					</li>
					<li class="mui-table-view-cell">
						所在医院：<span ng-bind="expertinfo.hospital"></span>
					</li>
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">专家简介</a>
						<div class="mui-collapse-content">
							<p class="article" ng-bind="expertinfo.synopsis"> </p>
						</div>
					</li>
				</ul>
			</div>

			<div class="expert-project">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">服务预约</li>
				</ul>
				<ul class="mui-table-view common-list">
					<li class="mui-table-view-cell" ng-repeat="item in expertinfo.informationList">
						<a href="javascript:;">
							<img class="mui-media-object mui-pull-left" src="../../../imgs/temp/server/list.jpg">
							<div class="mui-media-body">
								<strong ng-bind="item.title"></strong>
								<p ng-bind="item.synopsis">艺术大师为满足每一位贵宾需求而“量身订制”， 打造专属于...</p>
							</div>
						</a>
					</li>
					<!--<li class="mui-table-view-cell">
						<a href="javascript:;">
							<img class="mui-media-object mui-pull-left" src="../../../imgs/temp/server/list.jpg">
							<div class="mui-media-body">
								<strong>健康监测</strong>
								<p>艺术大师为满足每一位贵宾需求而“量身订制”， 打造专属于...</p>
								<div class="foot money">
									<span class="now">
														<i>¥</i>1000</span>抵
									<span class="before">
															<i>¥</i>5000
														</span>
								</div>
							</div>
						</a>
					</li>-->
				</ul>
			</div>

			<div class="footer-btns">
				<div class="mui-row wrap">
					<button id="dial" type="button" class="mui-btn mui-icon mui-icon-phone mui-col-sm-8 mui-col-xs-8">400-496-1368</button>
					<button type="button" class="mui-btn mui-btn-primary mui-col-sm-4 mui-col-xs-4" id="expert-apply">预约申请</button>
				</div>
			</div>

		</div>
	</body>
	<script src="../../../js/mui.min.js"></script>
	<script src="../../../js/angular.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/appdata.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/app.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/JRZH.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/common.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		angular.module("jrzhApp", [])
			.controller("jrzhCtrl", function($scope) {
				$scope.expertinfo = {};
				mui.init();
				mui(".footer-btns").on("tap", "#expert-apply", function() {
					//登陆判断
					console.log(JSON.stringify(app.getState()));
					mui.confirm('成功申请预约后，琦媛将为您安排专家服务时间', '确定要预约专家？', function(e) {
						if(e.index == 1) {
							mui.toast("成功申请预约")
						}
					})
				});

				mui.plusReady(function() {

					var eqid = plus.webview.currentWebview().eqId;
					appData.specialistList({
						eqId: eqid,
					}, function(response) {
						var view = response.object.viewList[0];
						view.labelIdArr = view.labelIdStr.split(",");
						view.informationIdArr = view.informationIds.split(",");
						view.informationList = [];
						$scope.$apply(function() {
							$scope.expertinfo = view;
						});
						mui.each(view.informationIdArr, function(index, item) {
							appData.specialistList({
								eqId: item
							}, function(response) {
								var view = response.object.viewList[0];
								view.synopsis = JSON.maxTextLength(view.synopsis, 50, true);
								$scope.$apply(function() {
									$scope.expertinfo.informationList.push(view);
								});
							}, function(response) {
								plus.nativeUI.toast(response.message);
							})
						});

					}, function(response) {
						console.log(JSON.stringify(response))
					}, function() {});

					mui(".footer-btns").on("tap", "#dial", function() {
						mui.confirm("拨打客服电话？", "", ["否", "是"], function(val) {
							if(val.index == 1)
								plus.device.dial("4004961368", false);
						});
					});
				});
			});
		//启用双击监听
	</script>

</html>