html {
  font-size: 200px; }

body {
  background-color: #f5f5f5; }

.left {
  float: left; }

.right {
  float: right; }

.clear:before {
  content: "";
  display: block;
  clear: both; }

.clear:after {
  content: "";
  display: block;
  clear: both; }

.pd-border-t:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #FFFFFF; }

.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

.pd-border-r:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: #FFFFFF; }

.mui-bar-nav {
  height: 0.44rem;
  background-color: #f3cd61; }
  .mui-bar-nav .mui-title {
    color: #fff;
    line-height: 0.44rem;
    font-size: 0.16rem; }

.mui-bar-nav ~ .mui-content {
  padding-top: 0.44rem; }

.mui-bar-tab {
  height: 0.44rem; }
  .mui-bar-tab .mui-tab-item {
    height: 0.44rem; }

.home-server-wrap {
  padding-bottom: 0.535rem; }

.panel-wrap {
  background-color: #FFFFFF; }
  .panel-wrap .p-head {
    padding: 0 15px;
    height: 0.36rem; }
    .panel-wrap .p-head span {
      font-size: 0.14rem;
      line-height: 1.86rem; }

* {
  font-family: "microsoft yahei"; }

.home-page {
  background-color: #FFFFFF; }
  .home-page .mui-content {
    background-color: #FFFFFF; }

.home-server-wrap {
  margin-top: 0.03rem; }
  .home-server-wrap .mui-row .mui-col-sm-4,
  .home-server-wrap .mui-row .mui-col-xs-4 {
    height: 1.095rem;
    border-right: 0.035rem solid #FFFFFF;
    border-bottom: 0.035rem solid #FFFFFF; }
    .home-server-wrap .mui-row .mui-col-sm-4 img,
    .home-server-wrap .mui-row .mui-col-xs-4 img {
      width: 100%;
      height: 100%; }
  .home-server-wrap .mui-row.no-bd-bt .mui-col-sm-4,
  .home-server-wrap .mui-row.no-bd-bt .mui-col-xs-4 {
    border-bottom: 0 solid #ddd; }

.expert-list .mui-table-view-cell {
  padding: 0.175rem; }
  .expert-list .mui-table-view-cell a {
    padding: 0; }
    .expert-list .mui-table-view-cell a .mui-media-object {
      width: 1rem;
      height: 1rem;
      border: 0.02rem solid #f3cd61;
      max-width: initial;
      border-radius: 50%; }
  .expert-list .mui-table-view-cell .mui-media-body {
    margin-top: 0.02rem; }
    .expert-list .mui-table-view-cell .mui-media-body strong {
      font-weight: normal;
      line-height: 0.3rem;
      display: block;
      border-bottom: 1px solid #615e5d; }
      .expert-list .mui-table-view-cell .mui-media-body strong span {
        font-size: 0.12rem; }
    .expert-list .mui-table-view-cell .mui-media-body p {
      margin-top: 0.05rem;
      white-space: initial;
      font-size: 0.12rem;
      line-height: 0.16rem;
      color: #595757; }
    .expert-list .mui-table-view-cell .mui-media-body div.foot {
      padding-top: 0.04rem;
      text-align: right; }
      .expert-list .mui-table-view-cell .mui-media-body div.foot span.tag {
        padding: 0.01rem 0.07rem;
        background-color: #ffde90;
        border-radius: 100px;
        font-size: 0.12rem;
        display: inline-block;
        color: #FFFFFF;
        margin-left: 0.05rem; }
      .expert-list .mui-table-view-cell .mui-media-body div.foot .tag.jk {
        background-color: #45c8a9; }
      .expert-list .mui-table-view-cell .mui-media-body div.foot .tag.zr {
        background-color: #6ef017; }
.expert-list .mui-table-view-cell > a:not(.mui-btn) {
  margin: initial; }
.expert-list .mui-table-view-cell:nth-child(2n+1) {
  background-color: #fcf2d7; }

/*# sourceMappingURL=style.css.map */
