//mui - reset
$mui_bar_nav_height: 44px;
$mui_bar_tab_height: 0.44rem;
.mui-bar-nav {
    height: $mui_bar_nav_height;
    background-color: $bar_nav_bg;
    .mui-title {
        color: $bar_nav_color;
        line-height: $mui_bar_nav_height;
        font-size: 0.16rem;
    }
}
.mui-bar-nav~.mui-content {
    padding-top: $mui_bar_nav_height;
}
.mui-bar-tab {
    height: $mui_bar_tab_height;
    .mui-tab-item {
        height: $mui_bar_tab_height;
    }
}
.home-server-wrap {
    padding-bottom: 0.5rem + 0.035rem;
}
.mui-table-view-cell:after {
    left: 0;
}
.mui-bar-nav {
    box-shadow: none;
}
.mui-scroll-wrapper.filter-top {
    top: $mui_bar_nav_height;
}
.mui-bar-nav.mui-bar .mui-icon {
    color: #FFFFFF;
}
