.panel-wrap {
    background-color: #FFFFFF;
    .p-head {
        padding: 0 $pd;
        height: 0.36rem;
        span {
            font-size: 0.14rem;
            line-height: 1.86rem;
        }
    }
    .p-cont {}
}
.filter-tab {
    height: 40px;
    line-height: 38px;
    padding: 0;
    margin: 0;
    ul {
        width: 100%;
        padding: 0;
        margin: 0;
        overflow-x: auto;
        background-color: #f5f5f5;
        li {
            padding: 0 0.15rem;
            font-size: 0.14rem;
            float: left;
            width: 25%;
            position: relative;
            border-top: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
        }
        li.active:before {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            height: 0.03rem;
            width: 100%;
            background-color: #d4b27e;
        }
    }
}
