.panel-wrap {
    background-color: #FFFFFF;
    .p-head {
        padding: 0 $pd;
        height: 0.36rem;
        span {
            font-size: 0.14rem;
            line-height: 1.86rem;
        }
    }
    .p-cont {}
}
.filter-tab {
    height: 40px;
    line-height: 38px;
    padding: 0;
    margin: 0;
    ul {
        width: 100%;
        padding: 0;
        margin: 0;
        overflow-x: auto;
        background-color: #f5f5f5;
        li {
            padding: 0 0.15rem;
            font-size: 0.14rem;
            float: left;
            width: 25%;
            position: relative;
            border-top: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
        }
        li.active:before {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            height: 0.03rem;
            width: 100%;
            background-color: #d4b27e;
        }
    }
}
.common-list2 {
    .mui-table-view-cell {
        padding: 0.175rem 0.2rem;
        a {
            padding: 0;
            .mui-media-object {
                width: 0.8rem;
                height: 0.8rem;
                max-width: initial;
            }
        }
        .mui-media-body {
            margin-top: 0.02rem;
            strong {
                font-weight: normal;
                line-height: 0.3rem;
                display: block;
                border-bottom: 1px solid #615e5d;
                font-size: $list_strong;
                span {
                    font-size: 0.12rem;
                }
            }
            p {
                margin-top: 0.05rem;
                white-space: initial;
                font-size: 0.12rem;
                line-height: 0.16rem;
                color: #595757;
            }
            div.foot {
                padding-top: 0.04rem;
                text-align: right;
                span.tag {
                    padding: 0.01rem 0.07rem;
                    background-color: #f3cd61;
                    border-radius: 100px;
                    font-size: 0.12rem;
                    display: inline-block;
                    color: #FFFFFF;
                    margin-left: 0.05rem;
                }
            }
        }
    }
}
.common-list {
    .mui-table-view-cell {
        padding: 0;
        a {
            margin: 0;
            padding: 0.15rem;
            .mui-media-object {
                width: 0.9rem;
                height: 0.9rem;
                max-width: initial;
            }
        }
        .mui-media-body {
            margin-top: 0.02rem;
            strong {
                font-weight: normal;
                line-height: 1.2em;
                padding-bottom: 0.06rem;
                display: block;
                font-size: 0.16rem;
                span {
                    font-size: 0.12rem;
                }
            }
            p {
                white-space: initial;
                font-size: 0.12rem;
                line-height: 0.16rem;
                color: #595757;
            }
            div.foot {
                text-align: right;
                span.tag {
                    padding: 0.01rem 0.07rem;
                    background-color: #f3cd61;
                    border-radius: 100px;
                    font-size: 0.12rem;
                    display: inline-block;
                    color: #FFFFFF;
                    margin-left: 0.05rem;
                }
            }
            div.foot.money {
                text-align: left;
                font-size: 0.14rem;
                color: #999;
                padding-top: 5px;
                span.now {
                    font-size: 0.18rem;
                    padding-right: 10px;
                    color: $cl_red;
                    i {
                        font-style: normal;
                        font-size: 0.14rem;
                    }
                }
                span.before {
                    font-size: 0.18rem;
                    color: #666;
                    i {
                        font-style: normal;
                        font-size: 0.14rem;
                    }
                }
            }
        }
    }
}
.footer-btns {
    height: 45px;
    .wrap {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;
        border-top: 1px solid #DDDDDD;
        .mui-btn {
            margin: 0;
            padding: 0;
            border-radius: 0;
            border-width: 0;
            height: 45px;
            line-height: 45px;
            color: $main_cl;
            font-size: 0.18rem;
        }
        .mui-btn-primary {
            font-size: 0.16rem;
            color: #FFFFFF;
            background-color: $main_cl;
        }
    }
}
.mui-bar-nav {
    .mui-segmented-control {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -oz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 80%;
        border: 1px solid #FFFFFF;
        .mui-control-item {
            line-height: 30px;
            font-size: 0.14rem;
            border-color: #FFFFFF;
            border-left: 1px solid #FFFFFF;
            color: rgba(255, 255, 255, .9);
            background-color: rgba(255, 255, 255, .1);
        }
        .mui-control-item:first-child {
            border-left-width: 0;
        }
        .mui-control-item.mui-active {
            color: $main_cl;
            background-color: #FFFFFF;
        }
    }
}
.segmented-control-new {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -oz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 80%;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    display: table;
    overflow: hidden;
    table-layout: fixed;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    background-color: transparent;
    -webkit-touch-callout: none;
    .control-item {
        display: table-cell;
        overflow: hidden;
        -webkit-transition: background-color 0.1s linear;
        transition: background-color 0.1s linear;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 30px;
        font-size: 0.14rem;
        border-color: #FFFFFF;
        border-left: 1px solid #FFFFFF;
        color: rgba(255, 255, 255, 0.9);
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 0;
        padding: 0;
    }
    .control-item:first-child {
        border-left-width: 0;
    }
    .control-item.active {
        color: #f3cd61;
        background-color: #FFFFFF;
    }
}
.account-form-cont {
    .mui-input-row {
        height: 0.45rem;
        line-height: 0.45rem;
        position: relative;
        .mui-btn.mui-pull-right {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            right: 0.15rem;
            padding: 0.07rem;
            width: auto;
            color: #FFFFFF;
            border: 0;
            font-size: 0.14rem;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
        .mui-btn.mui-pull-right.disabled {
            background-color: #BBBBBB;
            color: #fbfbfb;
        }
    }
    .mui-switch {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 0.15rem;
        margin: 0;
    }
}