.panel-wrap {
    background-color: #FFFFFF;
    .p-head {
        padding: 0 $pd;
        height: 0.36rem;
        span {
            font-size: 0.14rem;
            line-height: 1.86rem;
        }
    }
    .p-cont {}
}