$main_cl: #F3CD61;
$main_active_cl: #EDBE38;
$main_blue: #007aff;
$main_red: #f23030;
$body_bg: #f8f8f8;
$bar_nav_bg: $main_cl;
$bar_nav_color: #FFF;
$pd: 15px; //color
$cl_red: #F10214; //font-size
$list_strong: 0.16rem; //padding
$common_pd: 0.15rem;