<!DOCTYPE html>
<html ng-app="jrzhApp" ng-controller="jrzhCtrl">

	<head>
		<meta charset="utf-8">
		<title>圈子</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../../../css/libs/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../../../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/fonts/iconfont.css" />
	</head>

	<body>
		<div class="mui-content active-cont">
			<div id="slider" class="mui-slider mui-fullscreen">
				<div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" style="background-color: #FFFFFF;">
					<div class="mui-scroll">
						<a class="mui-control-item mui-active" href="#item1mobile">最新</a>
						<a class="mui-control-item" href="#item2mobile">热门</a>
					</div>
				</div>
				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>
				<div class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view new-view-list circle-list" page="0" dataName="newViewList">

									<li class="circle-item" ng-repeat="item in newViewList" ng-cloak>
										<a href="javascript:void(0)" class="mui-control-item">
											<div class="top go-pson-home-page" memberId="{{item.memberId}}">
												<div class="l">
													<img class="tx" src="{{port + item.memberInfo.imageUrl}}" alt="" />
													<span ng-bind="item.memberInfo.nickName"></span>
												</div>
												<div class="r">
													<span ng-bind="item.updateTime | date:'yyyy-MM-dd'"></span>
												</div>
											</div>
											<div class="cont" diaryId="{{item.id}}">
												<div class="text-title">
													<span ng-bind="item.title"></span>
												</div>
												<span class="img-box" ng-repeat="itemImg in item.lastDetails.imgUrls" style="background: url({{port + itemImg}}) center;background-size: cover;">
													<!--<img src="{{port + itemImg}}" alt="" />-->
												</span>
												<div class="clear"></div>
												<div class="text">
													<p ng-bind="item.lastDetails.content"></p>
												</div>
											</div>
										</a>
										<div class="footer">
											<span><i class="iconfont icon-browse"></i>{{item.clickNum}}</span>
											<span><i class="iconfont icon-comments"></i>{{item.commentNum}}</span>
											<span diaryId="{{item.id}}" class="praise" ng-if="item.like==0"><i class="iconfont icon-xian_dianzan" linkClass="icon-xian_dianzan" activeClass="icon-mian_dianzan"></i>{{item.praiseNum}}</span>
											<span diaryId="{{item.id}}" class="praise mui-active" ng-if="item.like==1"><i class="iconfont icon-mian_dianzan" linkClass="icon-xian_dianzan" activeClass="icon-mian_dianzan"></i>{{item.praiseNum}}</span>
											<div class="clear"></div>
										</div>
									</li>

									<!--<li class="circle-item">
										<a href="javascript:void(0)" class="mui-control-item">
											<div class="top go-pson-home-page" memberId="10086">
												<div class="l">
													<img class="tx" src="../../../imgs/temp/1.jpg" alt="" />
													<span>用户名称</span>
												</div>
												<div class="r">
													<span>2017-5-25</span>
												</div>
											</div>
											<div class="cont" diaryId="12921">
												<div class="text-title">
													<span>日记名称</span>
												</div>
												<span class="img-box" style="background: url(../../../imgs/temp/1.jpg) center;background-size: cover;"></span>
												<div class="clear"></div>
												<div class="text">
													<p ng-bind="item.lastDetails.content"></p>
												</div>
											</div>
										</a>
										<div class="footer">
											<span><i class="iconfont icon-browse"></i>{{item.clickNum}}</span>
											<span><i class="iconfont icon-comments"></i>{{item.commentNum}}</span>
											<span class="praise" ng-if="like==0"><i class="iconfont icon-xian_dianzan" linkClass="icon-xian_dianzan" activeClass="icon-mian_dianzan"></i>{{item.praiseNum}}</span>
											<span class="praise mui-active" ng-if="like==1"><i class="iconfont icon-mian_dianzan" linkClass="icon-xian_dianzan" activeClass="icon-mian_dianzan"></i>{{item.praiseNum}}</span>
											<div class="clear"></div>
										</div>
									</li>-->

								</ul>
							</div>
						</div>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view circle-list" page="0" dataName="hotViewList">

									<li class="circle-item" ng-repeat="item in hotViewList" ng-cloak>
										<a href="javascript:void(0)" class="mui-control-item">
											<div class="top go-pson-home-page" memberId="{{item.memberId}}">
												<div class="l">
													<img class="tx" src="{{port + item.memberInfo.imageUrl}}" alt="" />
													<span ng-bind="item.memberInfo.nickName"></span>
												</div>
												<div class="r">
													<span ng-bind="item.updateTime | date:'yyyy-MM-dd'"></span>
												</div>
											</div>
											<div class="cont" diaryId="{{item.id}}">
												<div class="text-title">
													<span ng-bind="item.title"></span>
												</div>
												<span class="img-box" ng-repeat="itemImg in item.lastDetails.imgUrls" style="background: url({{port + itemImg}}) center;background-size: cover;">
													<!--<img src="{{port + itemImg}}" alt="" />-->
												</span>
												<div class="clear"></div>
												<div class="text">
													<p ng-bind="item.lastDetails.content"></p>
												</div>
											</div>
										</a>
										<div class="footer">
											<span><i class="iconfont icon-browse"></i>{{item.clickNum}}</span>
											<span diaryId="{{item.id}}" class="praise" ng-if="item.like==0"><i class="iconfont icon-xian_dianzan" linkClass="icon-xian_dianzan" activeClass="icon-mian_dianzan"></i>{{item.praiseNum}}</span>
											<span diaryId="{{item.id}}" class="praise mui-active" ng-if="item.like==1"><i class="iconfont icon-mian_dianzan" linkClass="icon-xian_dianzan" activeClass="icon-mian_dianzan"></i>{{item.praiseNum}}</span>
											<div class="clear"></div>
										</div>
									</li>

								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<script src="../../../js/mui.min.js"></script>
		<script src="../../../js/angular.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/JRZH.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/appdata.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/app.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/mui.pullToRefresh.js"></script>
		<script src="../../../js/mui.pullToRefresh.material.js"></script>
		<script>
			mui.init({
				preloadPages: [{
					url: "info.html",
					id: "account-circle-info",
				}]
			});
			angular.module("jrzhApp", [])
				.controller("jrzhCtrl", function($scope) {
					$scope.newViewList = [];
					$scope.hotViewList = [];
					$scope.port = JRZH.port;
					var state = app.getState();
					var userId = state.userId;
					mui.plusReady(function() {});
					//循环初始化所有下拉刷新，上拉加载。
					mui.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
						mui(pullRefreshEl).pullToRefresh({
							up: {
								height: 50, //可选.默认50.触发上拉加载拖动距离
								auto: true, //可选,默认false.自动上拉加载一次
								contentrefresh: "正在加载...", //可选，正在加载状态时，上拉加载控件上显示的标题内容
								contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
								callback: function() {
									var self = this;
									var ul = self.element.querySelector('.mui-table-view');
									loadMoreList(self, ul);
								}
							}
						});
					});

					function loadMoreList(self, ul) {
						var page = ul.getAttribute("page") * 1 + 1;
						var rows = 10;
						var dataName = ul.getAttribute("dataName");
						var isHot = (dataName == "hotViewList");
						appData.getDiary({
							page: page,
							rows: rows,
							isHot: isHot,
							userId: state.userId
						}, function(response) {
							var viewlist = response.object.viewList || [];
							if(viewlist.length <= 0) {
								self.endPullUpToRefresh(true);
								return;
							};
							mui(response.object.viewList).each(function(index, view) {
								if(view.lastDetails != null) {
									if(view.lastDetails.imgUrl != null) {
										//图片数组预处理
										var arr = view.lastDetails.imgUrl.split(",");
										mui.each(arr, function(index) {
											arr[index] = arr[index];
										});
										view.lastDetails.imgUrls = arr;
									}
								}
								$scope[dataName].push(view);

							});

							$scope.$apply();
							if(response.object.viewList.length < rows) {
								self.endPullUpToRefresh(true);
							} else {
								self.endPullUpToRefresh();
							}
							ul.setAttribute("page", page);
						}, function(err) {
							plus.nativeUI.toast(err.message);
						});
					};
					/*
					 * 点赞
					 */
					mui(".new-view-list").on("tap", ".praise", function() {

						var praise = this;
						var iconElem = praise.getElementsByClassName("iconfont")[0];
						var linkClass = iconElem.getAttribute("linkClass");
						var activeClass = iconElem.getAttribute("activeClass");
						var diaryId = praise.getAttribute("diaryId");
						var parm = {
							diaryId: diaryId,
							userId: userId
						};
						if(iconElem.classList.contains("icon-xian_dianzan")) {
							appData.diaryPraise(parm, function(response) {
								mui.toast("点赞成功"); //点赞、
								iconElem.classList.remove(linkClass);
								iconElem.classList.add(activeClass);
								praise.classList.add("mui-active");
							}, function(err) {
								mui.toast(err.message);
							})
						} else {
							appData.diaryPraise(parm, function(response) {
								mui.toast("取消点赞");
								//取消赞
								iconElem.classList.remove(activeClass);
								iconElem.classList.add(linkClass);
								praise.classList.remove("mui-active");
							}, function(err) {
								mui.toast(err.message);
							})
						}

					});
					//阻尼系数
					var deceleration = mui.os.ios ? 0.003 : 0.0009;
					mui('.mui-scroll-wrapper').scroll({
						bounce: false,
						indicators: true, //是否显示滚动条
						deceleration: deceleration
					});
					mui(".circle-list").on("tap", ".cont", function() {

						var diaryId = this.getAttribute("diaryId");
						var _webView = plus.webview.getWebviewById("account-circle-info");
						mui.fire(_webView, "loadInit", {
							diaryId: diaryId
						});
						mui.openWindow({
							id: "account-circle-info"
						})

					});
					mui(".mui-content").on("tap", ".go-pson-home-page", function() {
						var memberId = this.getAttribute("memberId");
						var _webView = mui.openWindow({
							url: "homepage.html",
							id: "ccircle-homepage",
							styles: {},
							extras: {
								memberId: memberId
							}
						});
						_webView.show("slide-in-right");
					});
				});
		</script>
	</body>

</html>